body {font-family: helvetica, sans-serif;}
a{color:white;}
.pika-stage .pika-aniwrap, .pika-stage .main-image {position: absolute; top: 0; left: 0;}
.pika-stage .pika-aniwrap{width:100%;}
.pika-stage .pika-ani {position:relative;display: none;z-index:2;margin:0 auto;}
.pika-stage img {border:0;/** height:100%;width:100%; **/ }

.pika-stage .caption {position: absolute; background:#000; background: rgba(0,0,0,0.75);  border: 1px solid #141414; font-size: 11px; color: #fafafa; padding: 10px; text-align: right; bottom: 20px; right: 10px;}
.pika-stage .caption p {padding: 0; margin: 0; line-height: 14px;}
.pika-counter{position: absolute;bottom: -20px;left:15px;font-size:11px;}
#pikame{display:none;}
.pika-textnav a.previous{
  background: url("../styles/prev.png") no-repeat scroll -87px 5px rgba(0, 0, 0, 0);  
  cursor:pointer;
}
.pika-textnav  a.next{
   cursor:pointer; 
}